.simulator {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
  padding: 40px;
  background-color: #013b67;
  .grid-buttons {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    column-gap: 8px;
    width: 100%;
  }
}
