.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: none;
  height: 50px;
  transition: all 0.2s;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    transform: translateY(1px);
    filter: contrast(0.8);
  }
}
