.color-black {
  color: $black;
}

.color-green {
  color: $green;
}

.color-white {
  color: $white;
}

.color-blue {
  color: $blue;
}

.color-ocean {
  color: $ocean;
}

.bg-black {
  background-color: $black;
}

.bg-green {
  background-color: $green;
}

.bg-white {
  background-color: $white;
}

.bg-blue {
  background-color: $blue;
}

.bg-ocean {
  background-color: $ocean;
}
